// - Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
// - Weights: 400, 700
// font-family: 'Kumbh Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//variables
@import './var';



//general styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: $pale-orange;
}
p,ul{
    font-size: 1rem;
    color: $dark-grayish-blue;
    font-weight: 400;
}
h1,h3{
    color: $very-dark-blue;
}
h4{
    color: $orange;
}
ul{
    list-style-type: none;
}
.overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
}

.mobile-menu{
    display: none;
    background-color: $pale-orange;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    height: 100vh;
    width: 60%;
    padding: 1.5rem;
    img{
        margin-bottom: 2rem;
        &:hover{
            cursor: pointer;
            filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
        }
    }
    li{
        font-weight: 700;
        margin: 1.5rem 0;
        color: $very-dark-blue;
        &:hover{
            cursor: pointer;
            color: $orange;
        }
    }
}

header{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    background-color: $pale-orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .desktop-menu{
        display: none;
    }
    .main-menu{
        .mobile-menu-btn{
            padding: 5px 5px;
            margin-right: 2px;
            &:hover{
                cursor: pointer;
                filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
            }
        }
        .logo{
            padding: 5px 5px;
            &:hover{
                cursor: pointer;
            }
        }
        
    }
    .account-menu{
        flex-basis: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .cart{
            width: 35px;
            height: 35px;
            padding: 0.5rem;
            &:hover{
                cursor: pointer;
                filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
            }
        }
        .account{
            width: 30px;
            &:hover{
                cursor: pointer;
                border: 2px solid $orange;
                border-radius: 50%;
            }
        }
        
    }
    .cart-content-wrapper{
        display: none;
        position: absolute;
        top: 4.8rem;
        left: 0;
        right: 0;
        background-color: $pale-orange;
        margin-inline: 0.5rem;
        padding: 1.3rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .cart-content{
            margin-top: 3rem;
            width: 100%;
            padding-bottom: 0.5rem;
            .title{
                color: $very-dark-blue;
            }
            .empty-cart{
                width: 100%;
                height: 8rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p{
                    font-weight: 700;
                    color: $dark-grayish-blue;
                }
            }
            .product-checkout{
                display: none;
                .product-total{
                    width: 100%;
                    margin: 1.5rem 0;
                    display: flex;
                    gap:1rem;
                    justify-content: space-between;
                    align-items: center;
                    .thumbnail{
                        width: 40px;
                        border-radius: 5px;
                    }
                    .desc{
                        font-size: 0.9em;
                        .title{
                            color: $dark-grayish-blue;
                            margin-bottom: 5px;
                        }
                        .price{
                            color: $dark-grayish-blue;
                            margin-right: 8px;
                        }
                        .total{
                            color: $very-dark-blue;
                            font-weight: 700;
                        }
                    }
                    #delete-btn{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .checkout-btn{
                    width: 100%;
                    border: none;
                    border-radius: 10px;
                    background-color: $orange;
                    color: $pale-orange;
                    padding: 1rem;
                    font-size: 0.9rem;
                    font-weight: 700;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.main-content{
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 400px;

    .lightbox-thumbnail-wrapper{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

        .lightbox-thumbnail{
            width: 275px;
            position: relative;
            // width: 40%;
            // max-width: 400px;
            // min-width: 275px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .selected-image{
                display: flex;
                overflow: hidden;
                .main-img{
                    width: 100%;
                    border-radius: 20px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .main-img.first{
                    margin-left: 0;
                }
            }
            .image-list{
                display: flex;
                max-width: 80%;
                margin-top: 2rem;
                margin-bottom: 0;
                justify-content: space-between;
                .thumbnail{
                    width: 20%;
                    border-radius: 10px;
                    overflow: hidden;
                    .thumbnail-img{
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        cursor: pointer;
                        opacity: 0.5;
                    }
                }
                .selected{
                    border: solid 3px $orange;
                    .thumbnail-img{
                        opacity: 0.5;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            #close-btn-lightbox{
                display: block;
                padding: 1rem;
                position: absolute;
                top: -3rem;
                right: -1rem;
                &:hover{
                    cursor: pointer;
                    filter: invert(23%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
                }
            }
            .btn-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                top: 30%;
                background-color: $pale-orange;
                border-radius: 50%;
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                .button{
                    padding: 1rem;
                    &:hover{
                        cursor: pointer;
                        filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
                    }
                }
            }
            .btn-wrapper.prev{
                left: -1.3rem;
            }
            .btn-wrapper.next{
                right: -1.3rem;
            }
        }
    }


    .thumbnail-wrapper{
        // .desktop-thumbnail{
        //     display: none;
        // }
        .main-thumbnail{
            position: relative;
            overflow: hidden;
            .button{
                padding: 0.5rem;
                &:hover{
                    cursor: pointer;
                    filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
                }
            }
            .btn-wrapper{
                background-color: $pale-orange;
                border-radius: 50%;
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .button{
                    &:hover{
                        cursor: pointer;
                        filter: invert(63%) sepia(56%) saturate(4587%) hue-rotate(348deg) brightness(106%) contrast(101%);
                    }
                }
            }
            .btn-wrapper.prev{
                left:1rem;
                top:50%;
            }
            .btn-wrapper.next{
                right:1rem;
                top:50%;
            }
            .main-img{
                width: 100%;
                &:hover{
                    cursor: pointer;
                }
            }
            .main-img.first{
                margin-left: 0;
            }
            .selected-image{
                display:flex;
                //height: 300px;
                //position: relative;
            }
        }

        .image-list{
            display: none;
        }
    }

    .desc-wrapper{
        margin: 1.5rem;
        .sneaker-company{
            font-variant-caps: all-small-caps;
            font-size: 1.1rem;
            letter-spacing: 2px;
            font-weight: 700;
        }
        .product-name{
            margin: 1rem 0;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
        }
        .product-desc{
            margin: 1rem 0;
            line-height: 1.6rem;
        }
        .price-wrapper{
            margin: 2rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sale-price{
                display: flex;
                flex-basis: 150px;
                justify-content: space-between;
                align-items: center;
                .discounted-price{
                    font-size: 1.7rem;
                    font-weight: 700;
                }   
            }
            .default-price{
                color: $grayish-blue;
                font-weight: 700;
                text-decoration: line-through;
            }
        }

        .cart-add-wrapper{
            font-weight: 700;
            .quantity-wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                img{
                    padding: 1rem;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.6;
                    }
                }
            }
            button{
                margin-top: 1rem;
                margin-bottom: 5rem;
                width: 100%;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $orange;
                border: none;
                border-radius: 10px;
                color: $white;
                font-weight: 700;
                font-size: 1rem;
                img{
                    width: 18px;
                    height: 18px;
                    margin-right: 1rem;
                }
                &:hover{
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }
}


@media only screen and (min-width: 450px) {
    header{
        .cart-content-wrapper{
            left: auto;
            right: 0;
            width: 350px;
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 600px) {
    header{
        padding: 2rem 1rem;
    }
    .main-content{
        max-width: 600px;
    }
    .main-content{
        .lightbox-thumbnail-wrapper{
            .lightbox-thumbnail{
                width: 350px;
                .btn-wrapper{
                    top:35%
                }
            }
        }
    }
    
}

@media only screen and (min-width: 992px) {
    header{
        padding: 1rem;
        max-width: 1100px;
        margin: 0 auto;
        position: static;
        .main-menu{
            flex-basis: 570px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .mobile-menu-btn{
                display: none;
            }
            .desktop-menu{
                display: block;
                flex:1;
                margin-left: 1rem;
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    padding: 2rem 0;
                    &:hover{
                        cursor: pointer;
                        color: $very-dark-blue;
                        border-bottom: solid 4px $orange;
                        margin-bottom: -4px;
                    }
                }
            }
        }
        .account-menu{
            flex-basis: 88px;
            .account{
                width: 40px;
            }
        }
        .cart-content-wrapper{
            top: 7rem;
        }
    }

    .main-content{
        max-width: 1100px;
        margin-top: 0;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .lightbox-thumbnail-wrapper{
            .lightbox-thumbnail{
                width: 400px;
                .btn-wrapper{
                    top:35%
                }
            }
        }
        .thumbnail-wrapper{
            flex-basis: 45%;
            
            .main-thumbnail{
                display: block;
                overflow: hidden;
                .btn-wrapper{
                    display: none;
                }
                .selected-image{
                    display: flex;
                    width: 100%;
                    img{
                        width: 100%;
                        border-radius: 20px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .image-list{
                    display: flex;
                    justify-content: space-between;
                    margin: 2rem 0;
                    .thumbnail{
                        width: 20%;
                        border-radius: 10px;
                        overflow: hidden;
                        .thumbnail-img{
                            width: 100%;
                            height: 100%;
                        }
                        &:hover{
                            cursor: pointer;
                            opacity: 0.6;
                        }
                    }
                    .selected{
                        border: solid 3px $orange;
                        .thumbnail-img{
                            opacity: 0.2;
                        }
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .desc-wrapper{
            flex-basis: 45%;
            .price-wrapper{
                display: block;
                .sale-price{
                    justify-content: flex-start;
                    .discount{
                        margin-left: 2rem;
                    }
                }
                .default-price{
                    margin: 0.5rem 0;
                }
            }
            .cart-add-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    margin: 0;
                }
            }
        }
    }
}
